@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .box {
      width: 100%;
      padding-bottom: 100%;
   }

   .boxArtist {
      width: 100%;
      padding-bottom: 100%;
   }

   .desktop {
     display: -webkit-flex;
     display: flex;
     width: 100%;
     margin: auto;
     padding: 0;
     align-items: center;
     justify-content: center;
     text-align: center;
     font-size: 0.7em;
     margin-right: 5%;
   }

   .vinyl {
     display: none;
   }

   .item {
     align-self: center;
   }

   .mobile: {
     display: inline;
   }

   .logo {
     font-size: 1.5em;
     width: 100%;
     margin: 10px auto;
   }

   .latest-container {
     flex-direction: column-reverse;
     border-style: none;
   }

   .latest-content {
     width: 100%;
     margin: 0;
   }

   .latest-content h1 {
     padding-top: 40px;
     text-align: center;
   }

   .latest-content p {
     text-align: center;
   }

   .latest-content img {
     max-width: 100%;
     float: center;
   }

   .releaseItem {
     width: 100%;
      margin: 4%;
   }



}
@media only screen and (max-width : 810px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .box {
      width: 50%;
      padding-bottom: 50%;
   }

   .boxArtist {
      width: 50%;
      padding-bottom: 50%;
   }

   .desktop {
     display: -webkit-flex;
     display: flex;
     width: 100%;
     margin: 0 auto;
     padding: 0;
     align-items: left;
     justify-content: center;
     text-align: center;
     font-size: 0.7em;
     margin-right: 4%;

   }

   .vinyl {
     display: none;
   }

   .item {
     align-self: center;
   }

   .mobile {
     display: inline;
   }

   .logo {
     font-size: 1.5em;
     width: 100%;
     margin: 20px auto;
   }

   .latest-container {
     flex-direction: column-reverse;
     border-style: none;
   }

   .latest-content {
     width: 100%;
     margin: 0;
   }

   .latest-content h1 {
     padding-top: 40px;
     text-align: center;
   }

   .latest-content p {
     text-align: center;
   }

   .latest-content img {
     max-width: 100%;
     float: center;
   }

   .releaseItem {
     width: 50%;

   }


}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .box {
      width: 33.3%;
      padding-bottom: 33.3%;
   }

   .boxArtist {
      width: 50%;
      padding-bottom: 50%;
   }

   .mobile {
     display: none;
   }

   .releaseItem {
     width: 45%;
   }
}
@media only screen and (max-width : 2500px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
   .box {
     width: 33.3%;
     padding-bottom: 33.3%;
   }

   .boxArtist {
     width: 33.3%;
     padding-bottom: 33.3%;
   }

   .mobile {
     display: none;
   }
}
