/* General Styling */

html {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

header {
  width: 100%;
  float: left;
  padding-bottom: 20px;
}


button {
  padding: 10px 30px;
  border-radius: 100px;
  margin: 0 auto;
  background: none;
  border: 0.5px solid black;
  color: black;
  margin-top: 60px;
}

* {
  margin: 0;
  padding: 0;
}

footer {
  position: relative;
  height: 5px;
  text-align: center;
  bottom: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2em;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;

}

img {
  max-width: 100%;
}

#fade {
  display: none;
}


/* Remove all link decorations */

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

p {
  padding-top: 20px;
}


/******* INDEX *******/


/* Logo Styling */

.logo {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  display: inline;
  float: left;
  margin: 20px;
  padding-top: 5px;
}

.logo a {
  color: #000;
}

.logo a:visited {
  color: #000;
}

#landerHeading {
  text-decoration: none;
}

#releaseImg: hover {

}

.vinyl {
  display: inline-block;
  margin-top: 22px;
  height: 42px;
  width: 42px;
  text-align: center;
}

.icon-vynil {
  font-size: 42px;
  text-align: center;
}


/* Nav */

nav {
  margin: 20px;
  float: right;
  display: inline;
  text-align: center;
}

ul {
  overflow: auto;
  list-style-type: none;
}

li {
  height: 20px;
  float: left;
  margin-right: 0;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

li:last-child {
  border-right: none;
}

li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

li a:hover {
  color: #666;
}

li.active a {
  font-weight: 700;
  color: #000;
  background: yellow;
}

.navbar-fixed {
  width: 100%;
  position: fixed;
  z-index: 999;
  background: white;
  border-bottom: solid 0.7px;
}

.mobile {
  display: inline;
  float: left;
}


/* Page Border */

.contentWrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.content {
  width: 100%;
  float: left;

}

.content h1 {
  text-transform: uppercase;

  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;

}

.content h3 {
  padding-bottom: 20px;
}

.content p {
  padding-top: 40px;
  text-align: center;
}

#hero {
  width: 100%;
  height: 500px;
  padding-bottom: 30px;
  padding-top: 60px;
}


/* GALLERY */

.galleryWrap {
  overflow: hidden;
  margin: 10px;
  padding-top: 60px;
}

.box {
  float: left;
  position: relative;
  width: 20%;
  padding-bottom: 20%;
}

.boxArtist {
  float: left;
  position: relative;
  width: 20%;
  padding-bottom: 20%;

}

.boxInnerArtist h1 {
  position: absolute;
  text-decoration: none;
  color: #fff;
  /*margin: 50% auto;*/
  text-align: center;
  margin: 0;

}

.boxInnerArtist span {
  background: black;
}

.boxInner {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}

.boxInner h1 {
  position: absolute;
  text-decoration: none;
  color: #fff;
  /*margin: 50% auto;*/

}

.boxInnerArtist {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}

.boxInner img {
  width: 100%;
  border-radius: 100%;
}

.boxInnerArtist img {
  width: 100%;
}

.boxInner .titleBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -50px;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

}

.boxInnerArtist .titleBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -50px;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

}

body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
  margin-bottom: 0;
}

body.no-touch .boxInnerArtist:hover .titleBox, body.touch .boxInnerArtist.touchFocus .titleBox {
  margin-bottom: 0;
}


/* INFO */

.icons {
  text-align: left;
  padding-top: 80px;
  padding-bottom: 40px;
  align-items: center;
  clear: both;
}

.fa {
  margin: 20px;
}


/* ARTIST */

.hero {
  background-image: url("../img/modularz.jpg");
  height: 105vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero h1 {
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0px 16px;
  padding: 0px;
  color: white;
  font-size: 5em;

  text-decoration: none;
}




.latest-container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: row;
  border-color: black;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.latest-content {
  width: 50%;

}

.latest-content img {
  max-width: 80%;
  float: right;
  border-radius: 100%;

}

.latest-content h1 {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  text-align: left;
}

.latest-content p {
  margin: 0;
  padding-top: 40px;
  text-align: left;
  font-size: 1em;
}

.mix {
  padding-top: 40px;
}


/* Release */

#sdxn.hero {
  background-image: url("../img/screen-res.jpg");
  font-size: 1em;
  text-decoration: none;

}

#sdxn.hero h1 {
  text-decoration: none;
}

.audio-player {
  padding-top: 20px;
  margin: 0 auto;
  width: 100%;
}

.audio-player audio {
  margin: 0 auto;
  width: 100%;
}

#releaseImg:hover {
  opacity: 0.3;
}

#bioText  {
  text-align: left;
}

.releaseGallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 60px;
}

.releaseItem {
  width: 30%;
  text-align: center;
  margin: 1%;
  padding: 5px;
  box-shadow: 1px 1px 5px #888888;
}

.releaseItem h1 {
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;

}

.releaseItem h2 {

}

.releaseItem img {
  width: 100%;
  border-radius: 100%;
}

#top {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
}

#forth {
  color: opacity: .5; -webkit-filter: grayscale(30%);
}

#mainbutton {
  text-align: center;
  display: inline-block;
}

.button {
  text-align: center;
}

.iconsCenter {
  text-align: center;
  margin: 0 auto;
}

#mixcloud {
  padding-bottom: 60px;
}
