/* General Styling */

html {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

header {
  width: 100%;
  float: left;
  padding-bottom: 20px;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2em;
}

img {
  max-width: 100%;
}


/* Remove all link decorations */

a {
  text-decoration: none;
}


/******* INDEX *******/


/* Logo Styling */

.logo {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  display: inline;
  float: left;
  margin: 20px;
  padding-top: 5px;
}

.logo a {
  color: #000;
}

.logo a:visited {
  color: #000;
}

#landerHeading {
  text-decoration: none;
}


/* Nav */

nav {
  margin: 20px;
  float: right;
  display: inline;
  text-align: center;
}

ul {
  overflow: auto;
  list-style-type: none;
}

li {
  height: 25px;
  float: left;
  margin-right: 0;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

li:last-child {
  border-right: none;
}

li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

li a:hover {
  color: #666;
}

li.active a {
  font-weight: 700;
  color: #000;
  background: yellow;
}

.navbar-fixed {
  width: 100%;
  position: fixed;
  z-index: 999;
  background: white;
  border-bottom: solid;
}

.mobile {
  display: inline;
  float: left;
}


/* Page Border */

.contentWrapper {
  width: 80%;
  margin: 0 auto;
}

.content {
  width: 100%;
  float: left;
  padding-top: 40px;
}

.content h1 {
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
}

.content p {
  text-align: center;
}

#hero {
  width: 100%;
  height: 500px;
  padding-bottom: 30px;
}


/* GALLERY */

.galleryWrap {
  overflow: hidden;
  margin: 10px;
}

.box {
  float: left;
  position: relative;
  width: 20%;
  padding-bottom: 20%;
}

.boxArtist {
  float: left;
  position: relative;
  width: 20%;
  padding-bottom: 20%;
}

.boxInner {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}

.boxInnerArtist {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}

.boxInner img {
  width: 100%;
  border-radius: 100%;
}

.boxInnerArtist img {
  width: 100%;
}

.boxInner .titleBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -50px;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.boxInnerArtist .titleBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -50px;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
  margin-bottom: 0;
}

body.no-touch .boxInnerArtist:hover .titleBox, body.touch .boxInnerArtist.touchFocus .titleBox {
  margin-bottom: 0;
}

/* INFO */

.icons {
  margin: 0 auto;
  text-align: center;
}

.fa {
  margin: 0 20px;
}


/* ARTIST */

.hero {
  background-image: url("../img/modularz.jpg");
  border-bottom: solid;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.hero h1 {
  margin: 0;
  padding-top: 40vh;
  color: white;
  font-size: 5em;
}

.hero h1 span {
  background: black;
}

.latest-container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: row;
  border-style: dashed;
  border-color: yellow;
}

.latest-content {
  width: 50%;
  margin: 20px;
}

.latest-content img {
  max-width: 70%;
  float: right;
  border-radius: 100%;
}

.latest-content h1 {
  margin: 0;
  padding: 0;
  text-align: left;
}

.latest-content p {
  margin: 0;
  padding-top: 40px;
  text-align: left;
  font-size: 1em;
}
